/* Custom CSS styles */

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.box {
	border: 1px solid #ccc;
}

.controls {
    display: inline;
    width: 50px;
    margin: 10px auto;
}

.rate {
    width: 100%;
    text-align: -webkit-right;
}

.options {
    width: 100%;
    margin-bottom: 5px;
}

.input-data {
    display: inline-block;
    width: 50px;
}

.input-range {
    display: inline-block;
    width: 25px;
}

#footer {
    margin-top: 50px;
    padding: 10px 100px;
    background-color: #333;
}

#footer p {
    color: #bbb;
    margin: 0;
}


